.dropdownCabel {
  position: absolute;
  top: 0px;
  right: 273px;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}

.container{
  width: 100%;
  height: 100vh;
}
.dropdown{
  width: 250px;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
.dropdown .dropdown-btn{
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  cursor: pointer;
  justify-content: space-between;
}
.dropdown .dropdown-content {
  position: absolute;
  border-radius: 10px;
  top: 110%;
  left: 0;
  padding: 7px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width:95%;
  text-align: center;
}
.dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}