.registerContainer{
	width: 280px;
	height: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1), 0px 9px 25px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
	
}
.reglogo {
	color: slateblue;
	padding: 20px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
  font-size: 26px;
  font-family: cursive;
}

.registerBtn {
	color: white;
	background-color: slateblue;
	cursor: pointer;
  box-shadow: -3px 3px black;
  border: 1.3px solid black;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .2s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 9px 0px rgba(219, 31, 5, 1), 0px 9px 25px rgba(0, 0, 0, .7);
  box-shadow: 0px 6px 0px black, 0px 9px 25px rgba(0, 0, 0, 0.8);
  width: 250px;
  border-radius: 5px;
  font-family: cursive;
  font-size: 26px;
}

.registerBtn:active {
  -webkit-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 10px rgba(0, 0, 0, .9);
  -moz-box-shadow: 0px 3px 0px rgba(219, 31, 5, 1), 0px 3px 10px rgba(0, 0, 0, .9);
  box-shadow: 0px 3px 0px black, 0px 3px 10px rgba(0, 0, 0, .9);
  position: relative;
  top: 3px;
}
.success {
  font-size: 16px;
  color: green;
  text-align: center;
}

.failure {
  font-size: 16px;
  color: red;
  text-align: center;
}

.registerCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.mysspace {
  height: 30px;
  display: inline-block;
}