.registerContainer{
  width: 280px;
  height: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1), 0px 9px 25px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}
.registerCancel {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}