.dropdownFindPin {
  position: absolute;
  top: 0px;
  right: 528px;
  font-size: 20px;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}

.container{
  width: 100%;
  height: 100vh;
}
.findpin{
  width: 250px;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
.findpin .findpin-btn{
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background: #00ff00;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  cursor: pointer;
  justify-content: space-between;
}
.findpin .findpin-content {
  position: absolute;
  border-radius: 10px;
  top: 110%;
  left: 0;
  padding: 7px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 600;
  color: #333;
  width:95%;
  text-align: center;
}
.findpin .findpin-content .findpin-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.findpin .findpin-content .findpin-item:hover {
  background: #00ff00;
  border-radius: 10px;
}